@import 'ini.css';
@import 'media.css';
@import 'secciones.css';

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: normal;
    min-height: 100vh;
    color: var(--text-color);
    background-color: #fff;
    font-family: normal;
    z-index: 10;
    user-select: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
.top-bar {
    background: #fff;
    padding: 10px 0;
    font-size: 0.9rem;
    font-weight: 600;
}

.contact-info {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.contact-info>span {
    margin-right: 40px;

}

.contact-info>span>img {
    width: 22px;
    vertical-align: bottom;
    margin: 0 10px 0 10px;

}

.contact-info>span>a {
    transition: color .7s;
    text-decoration: none;
    color: var(--text-color);

}

.contact-info>span>a:hover {
    color: var(--orange);
}

.main-nav {
    background-color: var(--gris-claro);
}

.nav-content {
    width: 100%;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.menu {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    z-index: 25;
}

.menu a {
    width: 100%;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding-left: 10px;
    border-left: 8px solid transparent;
    transition: border-left-color 1s;
    cursor: pointer;
}

.menu img {
    width: 28px;
}

.logo {
    z-index: 20;
}

.logo>img {
    margin-top: 120px;
    width: 250px;

}

/* ----------------------IMAGENES INICIO  ------------------------*/
#cuerpo {
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

#cuerpo .carrusel {
    object-fit: cover;
    width: 100%;
    min-width: 1200px;
    height: 200px;
    overflow: hidden;
}

#presentacion {
    display: flex;
    position: relative;
    width: 100vw;
    height: 500px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--dark2);
    /*background-image: url('img/H1.jpg');*/
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
}

#imgPres {

    align-content: center;
    transition: opacity 2s;
    opacity: 0;
}

#presentacion h1 {
    position: absolute;
    margin-top: 340px;
    margin-right: 10%;
    font-family: 'Playfair Display', serif, normal;
    font-size: 1.5rem;

    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
}


/*------------------ INFO BLOCKS--------------------------- */
.info-blocks {
    display: flex;
    flex-wrap: wrap;
}

.block {
    flex: 1;
    min-width: 300px;
    padding: 50px 2%;
    color: white;
    font-size: 1.1rem;
}

.orange-block {
    background: var(--orange);
    color: #000;
    text-align: right;
    padding: 30px;
}


.dark-block {
    background: var(--dark2);
    padding: 30px;
}

/* ----------------------PRODUCT SECTION ------------------------*/
.products {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.products h4 {
    font-size: 1.4rem;
    color: var(--dark2)
}

.section-title h2 {
    color: var(--orange);
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.section-title::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: var(--orange);
    margin: 0 auto 15px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    margin-top: 40px;

}

.product-item img {
    width: 100%;
    min-width: 200px;
    height: 370px;
    object-fit: cover;
    display: block;
    border: 1px solid #ddd;
}

/*----------------------------------------------------------*/

.separador {
    height: 100px;
}

/*------------------          PIE            ---------------*/
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    font-size: 1rem;
    color: var(--text-color);
    gap: 22px;
    background-color: var(--orange);
}

footer span {
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


footer>span>img {
    width: 24px;
    filter: brightness(500%);
}

footer a {
    color: var(--dark);
    text-decoration: none;
    transition: color .7s;
}

footer a:hover {
    color: var(--dark2);
}


footer a:visited, footer a:active {
    color: inherit;
}

/* -----AMPLIACION ---------*/
#ampliacion {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
}

#ampliacion img {
    max-width: 100%;
    height: auto;
    border: 20px solid #000;
}