@font-face {
    font-family: normal;
    src: url("fuentes/EpundaSlab-VariableFont_wght.ttf");
}


:root {
    --color1: #d87200;
    --color2: #e49d4d;
    --color3: rgb(194, 138, 79);
    --color4: #0fc;
    --colorFondo: #fff;
    --colorText: #333;
}

* {
    margin: 0px;
    padding: 0px;
}