@font-face {
    font-family: normal;
    src: url("fuentes/EpundaSlab-VariableFont_wght.ttf");
}

:root {
    --orange: #d68328;
    --orange2: #af6418;
    --dark: #000;
    --dark2: #666;
    --light-grey: #f4f4f4;
    --text-color: #444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
