/* RESPONSIVE DESIGN */

@media (max-width: 1220px) {

    .nav-content {
        flex-direction: column;
        gap: 20px;

    }

    .menu {
        margin-top: -450px;
        align-items: center;
        flex-direction: column;
    }

    .logo {
        padding-top: 100px;
    }

    .main-nav {
        height: 290px;
    }

    .product-item {
        min-width: 300px;
    }

    .carrusel {
        height: 100px;
    }
}

@media (max-width: 990px) {
    .top-bar {
        display: none;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .especialidades {
        align-items: center;
        flex-direction: column;
        gap: 0px;
    }

    .sidebar {
        text-align: center;
        flex-direction: row;
    }

    .contacto {
        text-align: center;
    }

}

@media (max-width: 616px) {
    .orange-block p {
        text-align: left;
    }

    .image-container {
        padding: 0 20px;
    }
}