/* RESPONSIVE DESIGN */

@media (max-width: 1220px) {
    .orange-block {
        text-align: left;
    }

    .nav-content {
        flex-direction: column;
        gap: 20px;

    }

    .contact-info, footer {
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu {
        margin-top: -450px;
        align-items: center;
        flex-direction: column;

    }

    .logo {
        padding-top: 100px;
    }

    .main-nav {
        height: 290px;
    }

    .product-item {
        min-width: 300px;
    }

    .sidebar {
        max-width: 120px;

    }

}

@media (max-width: 990px) {
    .top-bar {
        display: none;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 616px) {

    .menu {
        width: 10%;
    }

    .orange-block p {
        text-align: left;
    }
}