.top-bar {
    display: none;
}

.logo {
    padding-top: 100px;
}

.main-nav {
    height: 290px;
}

.menu {
    margin-top: -450px;
    width: 200px;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 22;
}