@import 'ini.css';
@import 'media.css';

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: normal;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #fff;
    font-family: normal;
    z-index: 10;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
.top-bar {
    background: #fff;
    padding: 10px 0;
    font-size: 0.9rem;
    font-weight: 600;
}

.contact-info {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.contact-info>span {
    margin-right: 40px;

}

.contact-info>span>img {
    width: 22px;
    vertical-align: bottom;
    margin: 0 10px 0 10px;

}

.contact-info>span>a {
    transition: color .7s;
    text-decoration: none;
    color: var(--text-color);

}

.contact-info>span>a:hover {
    color: var(--orange);
}

.main-nav {
    background-color: #f0f0f6;
}

.nav-content {
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 8px;
    min-width: 800px;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.menu img {
    width: 28px;
}

.logo {
    z-index: 20;
}

.logo>img {
    margin-top: 120px;
    width: 250px;

}

/* IMAGENES INICIO SECTION */
#cuerpo {
    width: 100%;
    overflow: hidden;
}

#presentacion {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    overflow: hidden;
    background-color: var(--dark2);
    background-image: url('img/H1.jpg');
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
}

#imgPres {
    align-content: center;
    transition: opacity 2s;
    opacity: 0;
}

#presentacion h1 {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    line-height: 1.1;
    margin-top: 300px;
    margin-right: 40%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
}


/* INFO BLOCKS */
.info-blocks {
    display: flex;
    flex-wrap: wrap;
}

.block {
    flex: 1;
    min-width: 300px;
    padding: 50px 2%;
    color: white;
    font-size: 1.1rem;
}



.orange-block {
    background: var(--orange);
    color: #000;
    text-align: right;
    padding: 30px;
}


.dark-block {
    background: var(--dark2);
    padding: 30px;
}

/* PRODUCT SECTION */
.products {
    padding: 60px 20px;
    text-align: center;
}

.section-title h2 {
    color: var(--orange);
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.section-title::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: var(--orange);
    margin: 0 auto 15px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.product-item img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    display: block;
    border: 1px solid #ddd;
}

/*----------------------------------------------------------*/
.separador {
    height: 100px;
}

footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    bottom: 0;
    font-size: 1rem;
    color: var(--text-color);
    gap: 20px;
    background-color: var(--orange);
}

footer>span {

    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


footer>span>img {
    width: 24px;
    filter: brightness(500%);
}

footer a {
    color: var(--dark);
    text-decoration: none;
    transition: color .7s;
}

footer a:hover {
    color: var(--dark2);
}


footer a:visited, footer a:active {
    color: inherit;
}



/*--PAGINAS SECCIONES ----------------------------------------------------*/


.contenido {

    display: flex;
    max-width: 1200px;
    margin: 200px auto;
    gap: 50px;
    font-weight: 600;

}

/* Barra Lateral (Menú) */
.sidebar {
    width: 200px;
    padding-top: 180px;
    flex-shrink: 0;
}

.menu-item {
    background-color: #e9ecef;
    /* Gris claro de la imagen */
    padding: 12px 20px;
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    color: #1a1a1a;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #dee2e6;
}

/* Contenido Principal */
.main-content {
    color:var(--orange);
    flex-grow: 1;
}

.description {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 900px;
}

/* Cuadrícula de Imágenes */
.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

