/* Barra Lateral (Menú) */


.contenido {
    display: flex;
    max-width: 1200px;
    margin: 200px auto;
    gap: 50px;
    font-weight: 600;

}

.sidebar {
    width: 200px;
    flex-grow: 1;
    overflow: hidden;
}

.menu-item {
    background-color: var(--gris-claro);
    /* Gris claro de la imagen */
    padding: 12px 20px;
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    color: var(--dark);
    font-size: 0.9rem;
    transition: background-color 0.3s;

}

.menu-item:hover {
    background-color: #dee2e6;
}

/* Contenido Principal */

.main-content {
    width: 100%;
    color: var(--orange);
    padding: 0 20px;
    flex-grow: 1;
    background-color: #fff;
}

.description {
    font-size: 14px;
    line-height: 1.6;
    color: var(--dark);
    font-size: 1.1rem;
    margin-bottom: 30px;

    width: 100%;
    background-color: #fff;
}

/* Cuadrícula de Imágenes */

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.image-container {
    position: relative;
    width:100%;
    padding: 0px;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    
}